<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Fullstack Sushi</title>
</head>

<body>
    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./images/logo.png" alt="" width="30" height="24" class="d-inline-block align-top">
                Fullstack Sushi
            </a>
        </div>
    </nav>
    <div class="container my-5 text-center" style="max-width:580px">
        <h1>Sushi per Programmatori!</h1>
        <p class="lead">Concediti ora una favolosa pausa ricca di sapore e di carboidrati. E'
            scientificamente provato: i nostri sushi rolls ti aiutano a scrivere un codice più performante
        </p>
        <button type="button" class="btn btn-primary">Ordina Subito!</button>
        <button type="button" class="btn btn-secondary">Contattaci</button>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="./images/california.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">California Roll</h5>
                        <p class="card-text">Un piatto ricco di saggezza e tradizione. Ogni caloria ingerita contiene il
                            coraggio di
                            Son Goku, la perspicacia del Detective Conan e la prestanza fisica di Doraemon</p>
                        <a href="#" class="btn btn-primary">Acquista</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="./images/dragon.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Dragon Roll</h5>
                        <p class="card-text">Un piatto ricco di saggezza e tradizione. Ogni caloria ingerita contiene il
                            coraggio di
                            Son Goku, la perspicacia del Detective Conan e la prestanza fisica di Doraemon</p>
                        <a href="#" class="btn btn-primary">Acquista</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="./images/dynamite.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Dynamite Roll</h5>
                        <p class="card-text">Un piatto ricco di saggezza e tradizione. Ogni caloria ingerita contiene il
                            coraggio di
                            Son Goku, la perspicacia del Detective Conan e la prestanza fisica di Doraemon</p>
                        <a href="#" class="btn btn-primary">Acquista</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="./images/philadelphia.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Philadelphia Roll</h5>
                        <p class="card-text">Un piatto ricco di saggezza e tradizione. Ogni caloria ingerita contiene il
                            coraggio di
                            Son Goku, la perspicacia del Detective Conan e la prestanza fisica di Doraemon</p>
                        <a href="#" class="btn btn-primary">Acquista</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="./images/rainbow.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Rainbow Roll</h5>
                        <p class="card-text">Un piatto ricco di saggezza e tradizione. Ogni caloria ingerita contiene il
                            coraggio di
                            Son Goku, la perspicacia del Detective Conan e la prestanza fisica di Doraemon</p>
                        <a href="#" class="btn btn-primary">Acquista</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="./images/shrimp.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Shrimp Roll</h5>
                        <p class="card-text">Un piatto ricco di saggezza e tradizione. Ogni caloria ingerita contiene il
                            coraggio di
                            Son Goku, la perspicacia del Detective Conan e la prestanza fisica di Doraemon</p>
                        <a href="#" class="btn btn-primary">Acquista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>